
body {
    background-color: aliceblue;
    width: 100vw;
    text-align: center;
    padding-top: 10vh;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
  }
  .game-section{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;
  }

  .player1info,.player2info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
  }
  #p1{
    margin-top: 150px;
    height: 350px;
  }
  #p2{
    margin-top: 150px;
    height: 350px;
  }
  
  #player-1-name{
    font-size:20px;
  }
  #player-2-name{
    font-size: 20px;
  }
  

  .player-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .Attack-Section{
    margin-top: 20px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    height: 40px;
    width: 100px;
  }

  .Heal-Section{
    display: flex;
    align-items:center;
    justify-content: space-around;
    height: 40px;
    width: 100px;
  }
  
  #attack {
    height: 40px;
    width: 70px;
    border-radius: 50px;
    border:none;
    background: #eded32;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  #heal {
    height: 40px;
    width: 70px;
    border-radius: 50px;
    border:none;
    background: #7DFFFF;
    outline: none;
    cursor: pointer;
  }
  #player-1-Health{
    margin-top: 10px;
    font-size: 30px;
  }
  #player-2-Health{
    margin-top: 10px;
    font-size: 30px;
  }
  
  #result {
    font-size: 50px;
    color : #021354;
    margin-top: 200px;
  }
  
  #reset {
    margin-top: 5px;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    background: #e08719;
    font-size: 20px;
    font-weight: 400;
    outline: none;
    color: white;
    cursor: pointer;
  }
  #reset:hover{
     background-color: #02cf02; 
      color: black;
      box-shadow: 0 0 10px rgb(12, 230, 41) ;

  }
  
  .resultContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:150px;
    width: 300px;
  }
  @media screen and (max-width:600px){
    #reset{
        margin-left: 250px;
    }
      
  #result {
    margin-left: 200px;
    padding-left: 100px;
    font-size: 30px;
    font-weight:400;
  }

  }
